HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/java_pid218272.a2s.index
/java_pid218272.domIn.index
/java_pid218272.domOut.index
/java_pid218272.idx.index
/java_pid218272.inbound.index
/java_pid218272.o2c.index
/java_pid218272.o2hprof.index
/java_pid218272.o2ret.index
/java_pid218272.outbound.index
